<div class="container">
  <table class="table table-bordered">
    <thead></thead>
    <tbody>
      <tr>
        <td>
          <% @anotherEntries.each do |e| %>
            <%= link_to room_path(e.room.id) do %>
              <h5 class="my-4"><%= e.user.user_name %>さんとのメッセージ</h5>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

</div>
