<table class="table">
  <thead>
    <tr>
      <th>商品画像</th>
		  <th>商品名</th>
		  <th>税抜価格</th>
		  <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% skills.each do |skill| %>
      <% if skill.is_active == true %>
      <tr>
        <td>
          <%= image_tag skill.get_image, id: "img_prev", size: '180x120' %>
        </td>
        <td class="align-middle"><%= link_to skill.name, skill_path(skill), class: 'underline' %></td>
        <td class="align-middle"><%= skill.price %> 円</td>
        <td class="align-middle">
          <% skill.genres.each do |genre| %>
            <span><%=link_to genre.name, skills_path(genre_id: genre.id) %></span>
          <% end %>
        </td>
      </tr>
      <% else %>
      <% end %>
    <% end %>
  </tbody>
</table>