<h1>Admin::Reviews#index</h1>
<section class="inner">
  <h2 class="text-center m-3"><%= @user.user_name %>さんのレビュー一覧</h2>
  <%= render 'index', user: @user %>
  <!--個人にする方が、全体表示の管理よりも見やすいと思った。-->
</section>