<table class="admin_works table">
  <thead>
    <tr>
      <th>編集者</th>
      <th>タイトル</th>
      <th>サムネイル</th>
    </tr>
  </thead>
  <tbody>
    <% works.each do |work| %>
    <tr>
      <td class="text-center"><%= link_to user.user_name, admin_user_path(user.id) %></td>
      <td><%= link_to work.title, admin_work_path(work), class: "underline" %></td>
      <td>
        <% if work.image.attached? %>
          <%= image_tag work.get_image, size: "320x180" %>
        <% else %>
          <%= image_tag 'no_image', "320x180" %>
        <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>