/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .nav-item a:hover {
    background-color: #0FF;
    color: #FFF;
  }

.text-invalid {
  color: #bbb;
}
.text-active {
  font-weight: bold;
  color: #0a0;
}

.sidebar {
  width: 160px;
  height: max-content;
  margin: 100px 20px 0 0;
  padding: 10px 10 0;
  text-align: center;
  border: 4px double #008000;
  box-sizing: border-box;
}
  .sidebar h3 {
    margin-bottom: 0;
    border-bottom: 4px double #008000;
  }
  .sidebar a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
  }
  .sidebar a:hover {
    background-color: #008000;
    color: #FFF;
  }

.content {
  width: 780px;
}
  .content.mv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 50px auto 20px;
    background: no-repeat image-url("top-mv.jpg") center/cover;
  }
  .mv p {
    width: 500px;
    padding: 50px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
  }

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
}
  .skills  a {
    display: block;
    width: 180px;
    margin: 0 20px 20px 0;
    padding: 10px;
    position: relative;
    background-color: #fee;
    box-sizing: border-box;
  }
  .skills img {
    width: 160px;
    height: 120px;
    object-fit: cover;
  }
  .skills  h5 {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #FF0;
  }

  .skills a:hover {
    background-color: #fcc;
  }
  .skills a:nth-child(4n) {
    margin: 0 0 20px;
  }

.button0 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  height: 80px;
  width: 300px;
  color: #14171a;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  transition: 0s;
  box-sizing: border-box;
  text-decoration: none
}
/*box-sizing: border-box;で、「paddingとborderを幅と高さに含める」指定を追加することでエラーは回避されます。*/

.button0 a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #bbbbbb;
  transition: 0.2s ease 0s;
}

.button0 a::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -7px;
  width: 2px;
  height: 100%;
  background-color: #bbbbbb;
  transition: 0.2s ease 0.2s;
}

.button0 a:hover::before {
  width: 0%;
}

.button0 a:hover::after {
  height: 0%;
}

.button0 a:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}

.button_edit a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  height: 80px;
  width: 300px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
  transition: 0s;
  box-sizing: border-box;
}

.button_edit a::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 50vh;
}

.button_edit a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  box-sizing: border-box;
}

.button_edit a:hover {
  text-decoration: none;
  background-color: #cccccc;
}

.followers div:hover {
  background-color: #d9efff;
}

table {
  text-align: center;
}