<li class="nav-item border rounded m-3">
  <%= link_to "実績一覧", admin_works_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item border rounded m-3">
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
</li>